{% extends 'base-site.html' %}
{% load static %}
    {% block title %}Project - List{% endblock %}

    {% block css %}
    {% endblock %}

    {% block breadcrumb %}
    <!-- breadcrumb-area-start -->
    <div class="breadcrumb-area pt-245 pb-245 " style="background-image:url({% static 'img/bg/bg9.jpg' %})">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="breadcrumb-text text-center">
              <h1>Our Portfolio</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- breadcrumb-area-start -->
    {% endblock %}

    {% block content %}
    <!-- project-area-start -->
    <div class="project-area gray-bg pt-115 pb-90">
      <div class="container">
        {% include 'portfolio/snippets/category.html' %}
        <div class="row grid">
          {% for obj in object_list %}
          <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 grid-item {{ obj.service.category.name }}">
            {% include 'portfolio/snippets/portfolio_card.html' %}
          </div>
          {% endfor %}

        </div>
      </div>
    </div>
    <!-- project-area-end -->

    <!-- experience-area-start -->
    <div class="experience-area yellow-bg pt-50 pb-30">
      <div class="container">
        <div class="row">
          <div class="col-xl-8 col-lg-9 col-md-8">
            <div class="experience-text mb-20">
              <h2>Needs experience business consultant?</h2>
            </div>
          </div>
          <div class="col-xl-4 col-lg-3 col-md-4">
            <div class="experience-button text-md-right mb-20">
              <a class="btn" href="#">contact us
                <i class="fas fa-long-arrow-alt-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- experience-area-end -->
    <!-- brand-area-start -->
		<div class="brand-area pt-80 pb-80">
			<div class="container">
				<div class="row justify-content-between">
					<div class="brand-active owl-carousel">
            {% for partner in partners %}
						<div class="col-xl-12">
              {% include 'snippets/partner.html' %}
						</div>
            {% endfor %}
					</div>
				</div>
			</div>
		</div>
		<!-- brand-area-end -->
    {% endblock %}

    {% block js %}
    {% endblock %}
